---
import {Image} from "astro:assets"
import { isDisplayable } from "utils/amUtils";

const { blok } = Astro.props;

if (!isDisplayable(blok)) return;

const scale = blok?.scale ? blok.scale : 1;
const blokWidth = (blok.parentWidth ? blok.parentWidth : 1920) / scale;
const blokHeight = (blok.parentHeight ? blok.parentHeight : 1080) / scale;

const items = blok.items;
const displayTime = blok.displayTime * 1000;
const fadeTime = blok.fadeTime;
---
<div
  id="imageLoop"
  class="relative w-full h-full" style={`width:${blokWidth}px;height:${blokHeight}px;`}
  data-te-carousel-init
  data-te-ride="carousel"
  data-te-interval={displayTime}>

  <!--Carousel items-->
  <div class="relative w-full h-full overflow-hidden after:clear-both after:block after:content-['']">
	{
		items?.map((item: any, index: number) => {
		  return <>
				<div
					style={`transition-duration:${fadeTime/2}s`}
					class="relative float-left -mr-[100%] w-full h-full !transform-none opacity-0 transition-opacity motion-reduce:transition-none"
					data-te-carousel-fade
					data-te-carousel-item
					data-te-carousel-active={index == 0}
					>
					<Image src={item.filename} width={blokWidth} height={blokHeight} alt="" class="w-full h-full"></Image>
					<div id="pnlCaption">
						<div id="ltlCaption"></div>
					</div>
				</div> 
				{
					items.count > 1 && 
					<div
						class="!transition-none relative float-left -mr-[100%] w-full h-full !transform-none opacity-0 transition-opacity motion-reduce:transition-none"
						data-te-carousel-fade
						data-te-carousel-item
						data-te-interval=1
						>
						<div class="w-full h-full opacity-0 transition-opacity ease-in-out">
						</div>
					</div>
				}
			</>
		})
	  }
  </div>
</div>
<script src="utils/te/tw-elements.umd.min.js">
</script>
