---
import { renderRichText, storyblokEditable } from "@storyblok/astro";
import { getImage } from "astro:assets";
import { isDisplayable } from "utils/amUtils";

const { blok } = Astro.props;

if (!isDisplayable(blok)) return;

const textColor = blok.textColour?.color ? blok.textColour.color : "#FFFFFF";
const backgroundColor = blok.backgroundColour?.color
  ? blok.backgroundColour.color
  : "#000000";

const blokWidth = blok.parentWidth ? blok.parentWidth : 1920;
const blokHeight = blok.parentHeight ? blok.parentHeight : 1080;

const imageSize = Math.max(blokWidth, blokHeight);

const renderedRichText = renderRichText(blok?.description);

const optimizedBackground = await getImage({
  src: blok.image.filename,
  width: imageSize,
  height: imageSize,
});
---

<div
  {...storyblokEditable(blok)}
  style={`color:${textColor};background-color:${backgroundColor};`}
  class:list={[
    "w-full h-full flex justify-items-stretch",
    `promo-${blok.size}`,
  ]}
>
  <div
    class:list={["flex-grow bg-cover", `image-${blok.size}`]}
    style=`background-image:url('${optimizedBackground.src}')`
  >
  </div>
  <div
    class:list={[
      "flex grow flex-col self-end p-[2.7em] justify-items-stretch",
      `banner-${blok.size}`,
    ]}
  >
    <div class="grow self-start h-max w-full mb-6">
      <h3 class="mb-8" set:html={blok?.title} />
      <div set:html={renderedRichText} />
    </div>
    <div class="grow-0 self-end w-full">
      <h5
        class="p-0 pb-1 border-b-[0.1rem] uppercase tracking-wide"
        style=`border-color: ${textColor};`
      >
        {blok?.tnewTitle}
      </h5>
      <ul>
        <!-- <li
          data-performanceid='\"{data.PerformanceId}\"'
          data-time='\"{performanceTime}\"'
          class='\"{(performanceTime'
        >
          = DateTime.Now ? "ds-future" : "ds-past")}\">{
            performanceTime.ToString("h:mm")
          }
        </li> -->
      </ul>
      <h5 class="p-0 pt-1 uppercase tracking-wide">{blok?.manualTiming}</h5>
    </div>
  </div>
</div>

<style>
  .promo-large {
    @apply flex-col;
  }

  .promo-small {
    @apply flex-row;
  }

  .image-large {
    @apply w-full h-full;
  }

  .image-small {
    @apply w-1/2 h-full;
  }

  .banner-large {
    @apply w-full;
  }

  .banner-small {
    @apply w-1/2 h-full;
  }
</style>
